<!DOCTYPE html>
<html>
<head>
<title>Create Exam</title>
</head>
<body>

<h2>Create Exam</h2>

<form method="POST">

Exam Name

<input type="text"
       name="exam_name"
       required>

<br><br>

Subject

<input type="text"
       name="subject"
       required>

<br><br>

Duration (Minutes)

<input type="number"
       name="duration"
       required>

<br><br>

Total Marks

<input type="number"
       name="total_marks"
       required>

<br><br>

<button type="submit">
Create Exam
</button>

</form>

</body>
</html>