<!DOCTYPE html>
<html>
<head>
    <title>Exam Submitted</title>

    <meta http-equiv="refresh"
          content="3;url={{ url_for('student_dashboard') }}">

    <style>

        body{
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        .success{
            color: green;
            font-size: 28px;
            font-weight: bold;
        }

    </style>

</head>
<body>

<h1 class="success">
    Exam Submitted Successfully ✓
</h1>

<h3>
    Your result has been recorded.
</h3>

<p>
    Redirecting to Dashboard in 3 seconds...
</p>

</body>
</html>